body {
  background-color: rgb(254,247,234);
  min-width:300px;
  min-height:250px;
}

h1 {
  color: rgb(177,197,150);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.center1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center2 {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center3 {
  margin: 0;
  position: absolute;
  top: 84%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button {
  background-color: rgb(177,197,150); /* Beige */
  border: none;
  color: white;
  padding: 30px 45px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-bottom: 5px; 
  font-size: 20px;
}
.button1 {
    border-radius: 12px;
    font-family: verdana;
    padding: 10px;
  }
.button1:hover {
  background-color: rgb(117,131,99);
  color: white;
}
.button2 {
    border-radius: 12px;
    font-family: verdana;
    padding: 10px;
}
.button2:hover {
  background-color: rgb(117,131,99);
  color: white;
}
